*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html, body{
    height: 100%;
    font-family:sans-serif;
}

#all{
    min-height: 100%;
}

html #all{
    height:100%;
}

#all{
    position: relative;
}

#content{
    padding-bottom: 30px;
}

.nav-bar{
    height: 70px;
    background-color:rgb(0, 0, 0, 0.7);
    width:100%;   
}

.nav-bar img{
    width:60px;
    position: absolute;
    top:7px;
    left:5%;   
}

.nav-bar ul {  
    float:right;
    margin-right: 35px;      
}

.nav-bar ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 70px;
    transition: transform .3s;   
}

.nav-bar ul li:hover{
    transform: scale(1.1);   
}

.nav-bar ul a{
    position: relative;
    font-size: 18px;   
}

.nav-bar ul a:hover{
    color: rgb(235, 0, 156)
}

footer{
   position:fixed;
   bottom:0; 
   background-color: rgb(0, 0, 0, 0.7);
   width:100%;
   height:30px;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;     
}

.icons{
    position: relative;
    float:right;
}

#videobg{
    position:fixed;
    z-index: -1000;
}

#videobg{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

@media (min-aspect-ratio: 16/9) {
    #videobg{
        width:100%;
        height:auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videobg{
        width:auto;
        height:100%;   
    }
}

.text-box-outer{
    background:rgb(0, 0, 0, 0.6);
    border-radius:6px;
    width: 20%;
    float:left;
    margin-left:15px;
    margin-top:7%;
    height:400px;
    transition: transform .3s;
}

.text-box-outer:hover{
    transform: scale(1.1);
    
}

.text-box-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
    margin-top:11%;
    width:90%;
}

.text-box2-outer{
    background:rgba(0, 0, 0, 0.7);
    border-radius:6px;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right:15px;
    margin-top:7%;
    float:right;
    height:400px;
    transition: transform .3s;
}

.text-box2-outer:hover{
    transform: scale(1.1);
}

.text-box2-outer img{
    display:flex;
    margin:auto;
    margin-top:7%;
    border-radius: 20px; 
}

.text-box2-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin:auto;
    margin-top:11%;
    width:90%;
}



#hardskill{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15%;  
}

.h2-center{
    position: absolute;
    margin-bottom: 380px; 
    color: white;
}

#hardskill ul li{
    display: inline-block;
    margin: 20px;  
}

#hardskill ul li img{
    width:200px;
    height:200px;
    opacity: 0.5;
    transition: 0.3s;     
}

#hardskill ul li img:hover{   
    opacity: 1.0;
    transform: scale(1.1);         
}

#hardskill ul li p{
    text-align: center;
    margin-top:20px;
    color: white;
}

#javascript-p{
    margin-left:30px;
    color:yellow;
}

.h2-projects {
    position: relative;
    margin-top:25px;
    
    
}

.h2-projects-child{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.slidershow{
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
}


.middle{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.bar{
    width: 70px;
    height: 20px;
    border: 2px solid rgb(196, 5, 123);
    margin: 6px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.4s;
}

.bar:hover{
    background: rgb(196, 2, 147);
}

.slides{
    width:500%;
    height:100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width:100%;
    height:100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}
.white{
    color:rgb(252, 252, 252, 0.7);
    
}



ul li a{
  color:white;
}

.paw-icons{
    position:absolute;
    width: 100%;
    margin-top:50%;
    padding-bottom:5%;
}



.paw-icons ul li{
    display: inline-block;
    margin: 20px;
    padding-left: 83px;  
}

.paw-icons ul li a img{
    opacity: 0.3;
    transition: 0.3s;   
}

.paw-icons ul li a img:hover{
    opacity: 1.0;
    transform: scale(1.1);
}

